* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 66%;
}

.right {
  width: 33%;
  /*background-color: lightblue;*/
  /*Debug*/
  height: 66%;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#title {
  width: 100%;
  /*background-color: blueviolet;*/
}

.area{
  width: 100%;
}

.showinline {
    display: flex;
    align-items: center;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-secondary {
    color: #fff;
    background-color: #D2042D;
    border-color: #D2042D;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.w3-red, .w3-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important;
}
.w3-panel {
    margin-top: 16px;
    margin-bottom: 16px;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
.w3-tooltip, .w3-display-container {
    position: relative;
}

.w3-large {
    font-size: 18px !important;
}
.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

#error_no_answer{
	display: none;
}