
input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: left;
  background-color: #f8f6f0;
}

h3{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}

input[type=submit], input[type=button] {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
}

input[type=submit]:hover{
  background-color: #45a049;
}

#backButton {
  background-color: darkblue;
}

#backButton:hover{
  background-color: #00009f;
}

.btnOrange {
  background-color: DarkOrange;
}

.btnOrange:hover{
  background-color: #FFA500;
}

.smallBtn{
  padding-right: 2px !important;
  padding-left: 2px !important;
  width: 100%;
}

.btnGreen{
	background-color: #4CAF50;
}

.btnGreen:hover{
	background-color: #00AA00;
}

.btnRed{
	background-color: red;
}

.btnRed:hover{
	background-color: #c0392b;
}

.btnDarkRed{
	background-color: darkred;
}

.btnDarkRed:hover{
	background-color: #641e16;
}


div{
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #333;
  font-weight: 300;
  text-align: left;
  background-color: #f8f6f0;
  padding: 20px;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10em;
  margin-right: 0;
}